body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  display: block;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #cdd9ed;
  background: #fff;
  &:focus {
    outline: none;
    border-color: #275efe;
  }
}

button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: #275efe;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.response {
  margin: 20px 0 20px 0;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  display: none;
}

.resend-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.resend-link:hover {
  color: #0056b3;
}
